/* footer {
    bottom: 0rem;
    display: block;
    position: fixed;
    width: 100%;
} */
nav {
    position: sticky !important;
    top: 0;
    border-bottom: black solid 3px;
    z-index: 5;
}


.accordion-button:not(.collapsed) {
    background-color: #01A1c5;
}

.accordion-button {
    background-color: #01A1c5;
}

h3 {

    font-weight: bolder;


}

.navbar-brand img {
    height: 5rem;
}

.nav-link {
    font-size: larger;
    font-weight: bold;
    color: #01A1c5 !important;
}

.bg-color1 {
    background-color: #ffd54b;
}

bg-color2 {
    background-color: #01A1c5;
}

.text-color1 {
    color: #ffd54b;
}

.text-color2 {
    color: #01A1c5;
}